<section class="panel panel-primary">
  <header class="panel-heading text-center">
    Edit Profile
  </header>

  <%= simple_form_for @profile, {:url => { :action => :update }, remote: true, defaults: { input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } } }  do |f| %>

    <section class="panel-body">
      <div class="col-md-6">
        <h3>Basic Information</h3>
        <%= f.input :school %>
        <%= f.input :hometown %>
        <%= f.input :current_town %>
        <h3>Contact Information</h3>
        <%= f.input :phone_number %>
      </div>

      <div class="col-md-6">
        <h3>Words to Live By</h3>
        <%= f.input :quotes, input_html: { rows: 3 }, label: false %>
        <h3>About Me</h3>
        <%= f.input :about, input_html: { rows: 9 }, label: false %>
      </div>
    </section>

    <footer class="panel-footer">
      <%= f.button :submit, "Save Changes", class: "btn btn-primary btn-large btn-block" %>
    </footer>

  <% end %>

</section>
