<div id="comment-<%= comment.id %>">
  <div class="row">
    <%= profile_photo(comment.author, :thumb, "pull-left post-picture") %>
    <h5><%= link_to comment.author.name, user_path(comment.author) %> commented <%= time_ago_in_words(comment.created_at) %> ago</h5>
    <p><%= comment.content %></p>
  </div>

  <%= render 'shared/likes_bar', object: comment %>
</div>
