<div class="row">
  <aside class="col-md-6 col-xs-12 home-info">
    <h2>Connect with your friends and Denmark on Danebook.</h2>
    <ul>
      <li><strong>See photos and updates</strong> from friends News Feed.</li>
      <li><strong>Share what's new</strong> in your life on your Timeline.</li>
      <li><strong>Find all your friends</strong> and share.</li>
    </ul>
  </aside>

  <section class="col-md-6 col-xs-12">
    <div class="panel panel-default">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
            html: { class: 'form-horizontal panel-body' },
            defaults: { input_html: { class: 'form-control' },
                        wrapper_html: { class: 'form-group col-xs-12' },
                        label: false, error: false }) do |rf| %>
        <h2>Sign Up</h2>
        <p>It's free and always will be for copyright reasons.</p>

        <%= rf.input :first_name, required: true, placeholder: 'First name',
                      wrapper_html: { class: 'col-xs-6' },
                      input_html: { class: 'form-group form-control' } %>

        <%= rf.input :last_name, required: true, placeholder: 'Last name',
                      wrapper_html: { class: 'col-xs-6' },
                      input_html: { class: 'form-group form-control' } %>

        <%= rf.input :email, required: true, placeholder: 'Email address' %>

        <%= rf.input :password, required: true,
            hint: ("#{@minimum_password_length} characters minimum" if @validatable),
            placeholder: "Password" %>

        <%= rf.input :password_confirmation, required: true, placeholder: "Re-enter password" %>

        <%= rf.input :birthday, end_year: (Date.today.year-100), start_year: (Date.today.year-13),
                      label: "Birthday", order: [:month, :day, :year],
                      prompt: {day: "Day", month: "Month", year: "Year"},
                      wrapper_html: {class: "form-inline form-group col-xs-12"} %>

        <%= rf.input :gender, as: :radio_buttons, label: false,
                      collection: ["Female", "Male", "Other"],
                      item_wrapper_class: "radio-inline", input_html: { class: ""} %>

        <%= rf.button :submit, "Sign Up", class: "btn btn-success btn-large btn-block" %>
      <% end %>
    </div>
  </section>
</div>
