<ul class="nav navbar-nav navbar-right">
  <li><%= link_to current_user.name, current_user %></li>
  <li><%= link_to "Requests", friend_requests_path %></li>
  <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
</ul>

<%= form_tag users_path, method: "GET", class: "navbar-form navbar-right" do %>
  <%= search_field_tag(:query, nil, class: "form-control", placeholder: 'Search...', value: params[:query]) %>
<% end %>
