<div class="col-md-8">
  <%= image_tag @photo.photo.url(:original), class: "img-responsive img-thumbnail" %>
  <%= set_photo_bar(@photo.author) %>
</div>

<div class="col-md-4">
  <article class="panel panel-primary">
    <header class="panel-heading">
      <%= profile_photo(@photo.author, :thumb, "pull-left post-picture") %>
      <h5><%= link_to @photo.author.name, user_path(@photo.author) %></h5>
      <p>Posted <%= time_ago_in_words(@photo.created_at) %> ago</p>
    </header>

    <div class="panel-body">
      <%= render 'shared/likes_bar', object: @photo %>
    </div>

    <footer class="panel-footer">
      <div id="photo-<%= @photo.id %>-comments">
        <% @photo.comments.each do |comment| %>
          <%= render 'comments/comment', comment: comment %>
        <% end %>
      </div>
      <%= render 'comments/comment_form', object: @photo, id_symbol: :photo_id %>
    </footer>
  </article>
</div>
