<article class="panel panel-primary" id="post-<%= post.id %>">
  <header class="panel-heading">
    <%= profile_photo(post.author, :thumb, "pull-left post-picture") %>
    <h5><%= link_to post.author.name, user_path(post.author) %></h5>
    <p>Posted <%= time_ago_in_words(post.created_at) %> ago</p>
  </header>

  <section class="panel-body">
    <section class="row">
      <div class="col-xs-12">
        <p><%= post.content %></p>
      </div>
    </section>

    <%= render 'shared/likes_bar', object: post %>
  </section>

  <footer class="panel-footer">
    <div id="post-<%= post.id %>-comments">
      <% post.comments.each do |comment| %>
        <%= render 'comments/comment', comment: comment %>
      <% end %>
    </div>
    <%= render 'comments/comment_form', object: post, id_symbol: :post_id %>
  </footer>
</article>
